<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='/Users/divyamgoel/Desktop/All/Projects/ytc_trial/sal_khan/templates/created_courses copy.html'>
        <button>created_courses</button>
    </a>
    <a href='/Users/divyamgoel/Desktop/All/Projects/ytc_trial/sal_khan/templates/enrolled_courses.html'>
        <button>enrolled_courses</button>
    </a>
</body>
</html>